// Reusable styling properties

// Colors
$primary-color: hsl(4, 100%, 67%);
$secondary-color: hsl(234, 29%, 20%);
$hover-state-color: linear-gradient(to right, #f74242, hsl(4, 100%, 67%));
$white-color: hsl(0, 0%, 100%);
$grey-color: hsl(231, 7%, 60%);

// Font faces and types
$font: "Roboto", sans-serif;
$font-weight-bold: "700";
$font-weight-regular: "400";
$font-size-paragraph: 1.6rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Newsletter
html {
  font-size: 62.5%;
}

body {
  align-items: center;
  background-color: $secondary-color;
  display: flex;
  font-family: $font;
  height: 100vh;
  justify-content: center;
}

.newsletter {
  align-items: center;
  background-color: $white-color;
  border-radius: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  max-width: 1400px;
  padding: 2rem;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    max-width: 450px;
    padding: 2rem;

    &-heading {
      h1 {
        color: $secondary-color;
        font-size: 6.3rem;
        font-weight: $font-weight-bold;
        margin-bottom: 2rem;
      }

      p {
        font-size: $font-size-paragraph;
        font-weight: $font-weight-regular;
      }
    }

    &-features {
      p {
        display: flex;
        font-size: $font-size-paragraph;

        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }
    }

    &-icon {
      display: flex;
      margin-right: 2rem;
    }

    &-label {
      display: flex;
      justify-content: space-between;

      label {
        font-weight: $font-weight-bold;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }

      &_state_error {
        color: $primary-color;
        display: none;
      }

      //Add visible
    }

    &-cta {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      input {
        border-radius: 0.7rem;
        border: 1px $grey-color solid;
        font-size: $font-size-paragraph;
        margin-bottom: 2rem;
        outline: none;
        padding: 1.5rem;

        &:focus {
          border-color: $secondary-color;
        }
      }

      button {
        background-color: $secondary-color;
        border: none;
        border-radius: 0.7rem;
        box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.321);
        color: $white-color;
        cursor: pointer;
        font-weight: $font-weight-bold;
        padding: 1.7rem;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-image: $hover-state-color;
          transform: translateY(-0.1em);
        }
      }

      //Add error
    }
  }
}
